@font-face {
	font-family:Algerian;
	font-style:normal;
	font-weight:normal;
	font-stretch:extra-condensed;
	src : url("../font/Algerian.TTF");
}
@font-face {
	font-family:"Arial Rounded MT Bold";
	font-style:normal;
	font-weight:normal;
	src : url("../font/ArialRoundedMTBold.TTF");
}
@font-face {
	font-family:Bahnschrift;
	font-style:normal;
	font-weight:normal;
	src : url("../font/Bahnschrift-Bold.ttf");
}
@font-face {
	font-family:"Bell MT";
	font-style:normal;
	font-weight:normal;
	src : url("../font/BellMT.TTF");
}
@font-face {
	font-family:"Berlin Sans FB";
	font-style:normal;
	font-weight:normal;
	src : url("../font/BerlinSansFB-Reg.TTF");
}
@font-face {
	font-family:"Bradley Hand ITC";
	font-style:normal;
	font-weight:normal;
	src : url("../font/BradleyHandITC.TTF");
}
@font-face {
	font-family:"Felix Titling";
	font-style:normal;
	font-weight:normal;
	src : url("../font/FelixTitlingMT.TTF");
}
@font-face {
	font-family:Gabriola;
	font-style:normal;
	font-weight:normal;
	src : url("../font/Gabriola.ttf");
}
@font-face {
	font-family:"PMingLiU-ExtB";
	font-style:normal;
	font-weight:normal;
	src : url("../font/PMingLiU-ExtB.ttc");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#d0121b;
	font-family:Algerian, serif;
	font-size:720px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#d0121b;
	font-family:"Berlin Sans FB", sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#ffffff;
	font-family:"PMingLiU-ExtB", serif;
	font-size:720px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#000000;
	font-family:"Bell MT", serif;
	font-size:600px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"Bradley Hand ITC", sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Arial Rounded MT Bold", sans-serif;
	font-size:960px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#000000;
	font-family:Gabriola, sans-serif;
	font-size:720px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#d0121b;
	font-family:Gabriola, sans-serif;
	font-size:960px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#000000;
	font-family:Gabriola, sans-serif;
	font-size:960px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	color:#d0121b;
	font-family:"Felix Titling", serif;
	font-size:480px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#d0121b;
	font-family:Bahnschrift, sans-serif;
	font-size:480px;
	font-variation-settings:"wdth" 100, "wght" 700;
}
span.CharOverride-12 {
	-webkit-text-stroke-color:#ffffff;
	-webkit-text-stroke-width:14.2px;
	color:#d0121b;
	font-family:Bahnschrift, sans-serif;
	font-size:480px;
	font-variation-settings:"wdth" 100, "wght" 700;
	text-stroke-color:#ffffff;
	text-stroke-width:14.2px;
}
#_idContainer000 {
	-webkit-transform:translate(0.000px,551.338px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9373.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,551.338px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1280.00px;
}
#_idContainer001, #_idContainer002 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:284.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1280.00px;
}
#_idContainer003 {
	-webkit-transform:translate(468.031px,328.202px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.07px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(468.031px,328.202px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:342.68px;
}
#_idContainer004 {
	-webkit-transform:translate(48.976px,382.070px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:113.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(48.976px,382.070px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1180.79px;
}
#_idContainer005 {
	-webkit-transform:translate(280.708px,578.685px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/5.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:65.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(280.708px,578.685px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:712.20px;
}
#_idContainer006 {
	-webkit-transform:translate(29.842px,836.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:443.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(29.842px,836.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:680.31px;
}
#_idContainer007 {
	-webkit-transform:translate(776.141px,853.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:424.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(776.141px,853.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:491.02px;
}
#_idContainer008 {
	-webkit-transform:translate(29.842px,1229.049px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:72.34px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(29.842px,1229.049px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:680.31px;
}
#_idContainer009 {
	-webkit-transform:translate(29.842px,710.700px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:91.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(29.842px,710.700px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:363.54px;
}
#_idContainer010 {
	-webkit-transform:translate(29.842px,2308.027px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:380.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(29.842px,2308.027px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:680.31px;
}
#_idContainer011 {
	-webkit-transform:translate(754.803px,2247.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:424.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(754.803px,2247.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:491.02px;
}
#_idContainer012 {
	-webkit-transform:translate(29.842px,2608.104px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:72.34px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(29.842px,2608.104px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:680.31px;
}
#_idContainer013 {
	-webkit-transform:translate(29.842px,2182.590px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:91.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(29.842px,2182.590px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:639.13px;
}
#_idContainer014 {
	-webkit-transform:translate(29.842px,1605.118px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:424.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(29.842px,1605.118px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:497.48px;
}
#_idContainer015 {
	-webkit-transform:translate(27.086px,1438.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:91.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.086px,1438.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:882.91px;
}
#_idContainer016 {
	-webkit-transform:translate(563.464px,1628.067px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:373.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(563.464px,1628.067px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:693.07px;
}
#_idContainer017 {
	-webkit-transform:translate(563.464px,1929.679px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(563.464px,1929.679px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:693.07px;
}
#_idContainer018 {
	-webkit-transform:translate(29.842px,2977.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:424.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(29.842px,2977.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:491.02px;
}
#_idContainer019 {
	-webkit-transform:translate(29.842px,2829.243px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:91.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(29.842px,2829.243px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:882.91px;
}
#_idContainer020 {
	-webkit-transform:translate(566.220px,3019.169px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:373.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(566.220px,3019.169px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:693.07px;
}
#_idContainer021 {
	-webkit-transform:translate(566.220px,3320.781px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(566.220px,3320.781px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:693.07px;
}
#_idContainer022 {
	-webkit-transform:translate(43.307px,3692.398px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:380.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(43.307px,3692.398px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:680.31px;
}
#_idContainer023 {
	-webkit-transform:translate(767.559px,3634.015px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:424.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(767.559px,3634.015px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:491.02px;
}
#_idContainer024 {
	-webkit-transform:translate(43.307px,3992.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:72.34px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(43.307px,3992.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:680.31px;
}
#_idContainer025 {
	-webkit-transform:translate(43.307px,3566.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:91.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(43.307px,3566.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:805.04px;
}
#_idContainer026 {
	-webkit-transform:translate(29.133px,4363.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:424.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(29.133px,4363.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:491.02px;
}
#_idContainer027 {
	-webkit-transform:translate(29.133px,4216.093px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:91.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(29.133px,4216.093px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:882.91px;
}
#_idContainer028 {
	-webkit-transform:translate(565.511px,4406.020px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:373.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(565.511px,4406.020px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:693.07px;
}
#_idContainer029 {
	-webkit-transform:translate(565.511px,4707.632px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(565.511px,4707.632px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:693.07px;
}
#_idContainer030 {
	-webkit-transform:translate(43.307px,5088.106px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:628.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(43.307px,5088.106px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:724.25px;
}
#_idContainer031 {
	-webkit-transform:translate(776.692px,5198.740px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:424.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(776.692px,5198.740px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:491.02px;
}
#_idContainer032 {
	-webkit-transform:translate(43.307px,5709.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(43.307px,5709.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:724.25px;
}
#_idContainer033 {
	-webkit-transform:translate(39.692px,4954.164px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:91.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(39.692px,4954.164px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:785.27px;
}
#_idContainer034 {
	-webkit-transform:translate(25.275px,6095.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:424.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(25.275px,6095.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:491.02px;
}
#_idContainer035 {
	-webkit-transform:translate(25.275px,5945.227px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:91.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(25.275px,5945.227px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:882.91px;
}
#_idContainer036 {
	-webkit-transform:translate(549.921px,6044.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:373.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(549.921px,6044.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:693.07px;
}
#_idContainer037 {
	-webkit-transform:translate(561.653px,6436.766px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(561.653px,6436.766px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:693.07px;
}
#_idContainer038 {
	-webkit-transform:translate(213.669px,6736.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/30.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:65.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(213.669px,6736.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:852.52px;
}
#_idContainer039 {
	-webkit-transform:translate(0.000px,6888.897px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2388.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,6888.897px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:583.17px;
}
#_idContainer040 {
	-webkit-transform:translate(680.314px,6858.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2391.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(680.314px,6858.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:599.54px;
}
#_idContainer041 {
	-webkit-transform:translate(0.000px,6874.015px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:722.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,6874.015px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:583.17px;
}
#_idContainer042 {
	-webkit-transform:translate(688.503px,6874.015px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:722.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(688.503px,6874.015px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:583.17px;
}
#_idContainer043 {
	-webkit-transform:translate(44.724px,7760.695px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:634.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(44.724px,7760.695px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:518.74px;
}
#_idContainer044 {
	-webkit-transform:translate(713.700px,7760.695px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:634.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(713.700px,7760.695px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:529.29px;
}
#_idContainer045 {
	-webkit-transform:translate(44.724px,7644.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:132.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(44.724px,7644.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:516.93px;
}
#_idContainer046 {
	-webkit-transform:translate(713.700px,7638.119px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:147.70px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(713.700px,7638.119px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:529.29px;
}
#_idContainer047 {
	-webkit-transform:translate(44.724px,8389.722px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:132.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(44.724px,8389.722px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:518.74px;
}
#_idContainer048 {
	-webkit-transform:translate(713.700px,8389.722px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:132.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(713.700px,8389.722px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:529.29px;
}
#_idContainer049, #_idContainer050, #_idContainer052, #_idContainer054, #_idContainer056, #_idContainer058, #_idContainer060, #_idContainer062 {
	-webkit-transform:translate(0.000px,-0.717px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/39.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:59.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-0.717px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:142.80px;
}
#_idContainer051 {
	-webkit-transform:translate(3.267px,226.488px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3.267px,226.488px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:142.80px;
}
#_idContainer053 {
	-webkit-transform:translate(191.464px,224.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(191.464px,224.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:142.80px;
}
#_idContainer055 {
	-webkit-transform:translate(564.991px,224.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(564.991px,224.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:142.80px;
}
#_idContainer057 {
	-webkit-transform:translate(1132.669px,226.488px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1132.669px,226.488px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:142.80px;
}
#_idContainer059 {
	-webkit-transform:translate(754.015px,226.771px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(754.015px,226.771px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:142.80px;
}
#_idContainer061 {
	-webkit-transform:translate(378.228px,224.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(378.228px,224.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:142.80px;
}
#_idContainer063 {
	-webkit-transform:translate(944.059px,224.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(944.059px,224.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:142.80px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenButton div._idGen-Appearance-Normal {
	visibility:visible;
}
div._idGenButton div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton {
	cursor:pointer;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Rollover {
	visibility:visible;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Click {
	visibility:visible;
}
div._idGenStateHide div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenStateHide, div._idGenStateHide *{
	visibility:hidden;
}
